# This set of rules attempts to set safe kernel timeouts for drives
# depending on whether they have SCTERC/TLER functionality
# enabled.

{% if devices|length > 0 %}
ACTION=="add|change", \
  KERNEL=="{{ devices|join('|') }}", \
  SUBSYSTEM=="block|machinecheck", \
  ENV{DEVTYPE}=="disk", \
  TEST=="/sys/block/$name/device/timeout", \
  TEST=="/usr/sbin/smartctl", \
  RUN+="{{ helper_script_dir }}/set-disk-timeout $name"
{% else %}
ACTION=="add|change", \
  SUBSYSTEM=="block|machinecheck", \
  ENV{DEVTYPE}=="disk", \
  TEST=="/sys/block/$name/device/timeout", \
  TEST=="/usr/sbin/smartctl", \
  RUN+="{{ helper_script_dir }}/set-disk-timeout $name"
{% endif %}

