# This set of rules attempts to set safe kernel timeouts for drives
# depending on whether they have SCTERC/TLER functionality
# enabled.

SUBSYSTEM!="block|machinecheck", GOTO="disk_timeout_exit"

ENV{DEVTYPE}!="disk", GOTO="disk_timeout_exit"

ACTION=="add|change", \
  TEST=="/sys/block/$name/device/timeout", \
  TEST=="/usr/sbin/smartctl", \
  RUN+="{{ helper_script_dir }}/set-disk-timeout $name"

LABEL="disk_timeout_exit"
